#content {
  background-image: url("kanban-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 810px;
  position: relative;
}

#cover {
  background-color: darkslateblue;
  position: relative;
  width: 100%;
  height: 950px;
}

.logo {
  color: white;
  font-family: 'Merienda';
  font-size: 20px;
}

.big-logo {
  color: white;
  font-family: 'Merienda';
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 100px;
}

.big-logo h1 {
  font-size: 90%;
}

.arrow {
  background: none; 
  border: none; 
  color: white;
}


.navbar-inverse {
  background: rgba(205, 204, 204, 0.3);
  position: fixed;
  display: inline-block;
}

.story-board {
    vertical-align: top;
    padding-top: 1%;
}


.list {
    display: inline-block; 
    margin: 1%; 
    background: rgba(205, 204, 204, 1);
    width: 200px;
    vertical-align: top;
    padding: 5px;
    font-family: 'Slabo 27px';
}

.list-form {
  margin-left: 0.8%;
  margin-top: -1%;
}

.task {
  display: inline-block;
  margin-right: 3px;
  margin-top: 5px;
  text-align: left;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 127, 0.3);
  border-radius: 5%;
  font-family: 'Slabo 27px';
  color: black;
  
}

button, .btn {
    background: rgba(205, 204, 204, 0.3);
    font-weight: bold;
    margin: 1%;
    padding: 5px;
    color: white;
    font-family: 'Merienda';
}